﻿@using System.Security.Claims;

@model IReadOnlyList<string>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google.Apis.Auth.AspNetCore3 sample - Refreshed token persisted</title>
</head>
<body>
    <h2>Google.Apis.Auth.AspNetCore3 sample - Refreshed token persisted</h2>
    <p>You are logged in as @User.FindFirst(ClaimTypes.GivenName)?.Value.</p>
    <ul>
        @foreach (var result in @Model)
        {
            <li>@result</li>
        }
    </ul>
    <p><a asp-controller="Home" asp-action="index">Index</a></p>
</body>
</html>
