﻿@using System.Security.Claims;

@model IReadOnlyList<string>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Google.Apis.Auth.AspNetCore3 sample - Scope Listing</title>
</head>
<body>
    <h2>Google.Apis.Auth.AspNetCore3 sample - Scope Listing</h2>
    <p>You are logged in as @User.FindFirst(ClaimTypes.GivenName)?.Value.</p>
    @if (@Model.Count > 0)
    {
        <p>These are the scopes this application is currently authorized for:</p>
        <ul>
            @foreach (var scope in @Model)
            {
                <li>@scope</li>
            }
        </ul>
    }
    else
    {
        <p>There are no scopes this application is currently authorized for. This probably means that something went wrong when attempting to fetch scopes.</p>
    }
    <p><a asp-controller="Home" asp-action="index">Index</a></p>
</body>
</html>
