﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<p>
    <a asp-area="" asp-controller="Home" , asp-action="Login">Login</a>
</p>
    <div>
        <ul class="list-group">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <li class="list-group-item">
                    <a>Hello @User.Identity.Name</a>
                </li>
            }
            <li class="list-group-item">
                <a asp-controller="Home" asp-action="Logout">Logout</a>
            </li>

        </ul>
    </div>
