﻿@model IList<GmailClient.Models.Email>


<div>
    @foreach (var email in Model)
    {
        <div id="@email.Id">
            <div>@email.From</div>
            <div>@email.Date.ToString()</div>
            <div>@Html.Raw(email.Body)</div>
            <div>(@email.IsReceived? "Received": "Sent")</div>
        </div>
    }
</div>
