﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <a asp-area="" asp-controller="Account" , asp-action="Login">Login</a>

    <div>
        <ul class="list-group">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <li class="list-group-item">
                    <a>Hello @User.Identity.Name</a>
                </li>
            }
            <li class="list-group-item">
                <a asp-controller="Account" asp-action="Logout">Logout</a>
            </li>

        </ul>
    </div>
</div>