﻿@model GmailClient.Models.MailRequest

@{
    ViewData["Title"] = "Contact Page";
}

<h2>@ViewData["Title"].</h2>

<div class="container">
    @*asp-validation-summary="ModelOnly"*@

    @if (ViewData["Message"] != null)
    {
        <strong style="color: @ViewData["message_color"]"> @ViewData["Message"] </strong>
    }

    <form asp-action="Contact" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="ToEmail">Recipient Email Address: </label>
            <input asp-for="ToEmail" class="form-control" /><br />
            <span asp-validation-for="ToEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Subject">Subject: </label>
            <input asp-for="Subject" class="form-control" /><br />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Body">Message: </label>
            <input asp-for="Body" class="form-control" />
            <br />
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        @*<div class="form-group">
                <label asp-for="Attachments">Attachments: </label>
                <input asp-for="Attachments" type="file" class="form-control">
            </div>*@

        <input type="submit" value="send" class="send-button" />
    </form>
</div>